---
import { translations } from '../i18n/index.js';

const { locale = 'en' } = Astro.props;
const t = translations[locale as keyof typeof translations];
---

<footer class="bg-neutral-100 py-8">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row items-center justify-center md:justify-between flex-wrap gap-4 md:gap-1 space-y-4 md:space-y-0">
      <div class="text-center md:text-left">
        text-neutral-700 flex items-center justify-center md:justify-start flex-wrap gap-x-4"
          {t.footer.copyright}
          <a href="https://www.biwers.net" target="_blank" rel="noopener noreferrer" class="credits-link">
            <span>{locale === 'en' ? 'Credits' : 'Crédits'}</span>
        <svg width="20" height="29" viewBox="0 0 231 329" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path fill="currentColor" d="M0 0 C1.12160019 -0.00189835 2.24320038 -0.00379669 3.39878845 -0.00575256 C7.08591836 -0.00943999 10.77284868 0.00121859 14.45996094 0.01245117 C17.0391233 0.01364468 19.6182861 0.01409577 22.19744873 0.01383972 C27.59731986 0.01540131 32.99711999 0.0234173 38.39697266 0.03710938 C44.60726733 0.05280001 50.81750012 0.05810836 57.0278132 0.05737382 C63.03724642 0.05675943 69.04665486 0.06201428 75.05608368 0.07016563 C77.5963911 0.07333032 80.1367003 0.07531452 82.67700958 0.07605934 C86.24173464 0.07824839 89.80638499 0.08704809 93.37109375 0.09765625 C94.40425217 0.09720306 95.43741058 0.09674988 96.50187683 0.09628296 C121.30714807 0.2032191 138.43616472 6.84924947 156.56933594 23.93041992 C171.15657829 38.90696073 176.88364453 57.92936128 176.74047852 78.39355469 C176.29389186 96.37573392 170.17670055 111.6920388 158.44433594 125.24291992 C157.72246094 126.23291992 157.00058594 127.22291992 156.25683594 128.24291992 C146.04818294 140.16399213 128.10238349 149.56319278 112.53144836 150.78831482 C105.75200065 151.2784271 99.01320061 151.37768487 92.21850586 151.35644531 C90.96815048 151.35659134 89.7177951 151.35673737 88.42955017 151.35688782 C85.0461056 151.35631616 81.66272431 151.35134869 78.27929091 151.34431386 C74.72658591 151.33800405 71.17387979 151.33747055 67.62117004 151.33628845 C60.91381084 151.3331974 54.2064682 151.32501443 47.49911624 151.31493896 C39.85446434 151.30370817 32.20981159 151.29824993 24.56515348 151.29324353 C8.85820475 151.28282962 -6.84872751 151.2652739 -22.55566406 151.24291992 C-22.60239624 132.7016711 -22.63765888 114.16043423 -22.65928841 95.61913872 C-22.66959855 87.00998846 -22.68365389 78.40087481 -22.70654297 69.79174805 C-22.72648484 62.28755294 -22.73938241 54.78338435 -22.74384105 47.27916348 C-22.74644708 43.30618134 -22.75256695 39.33327505 -22.76712418 35.36031723 C-22.78072068 31.6191741 -22.78488252 27.87813792 -22.78187943 24.13697243 C-22.78269012 22.11277018 -22.79344093 20.08857952 -22.80450439 18.06440735 C-22.80175507 16.85293533 -22.79900574 15.64146332 -22.7961731 14.39328003 C-22.79801668 13.34427961 -22.79986027 12.2952792 -22.80175972 11.21449089 C-22.52602102 7.88498424 -21.94105151 5.28742416 -20.55566406 2.24291992 C-14.9211918 -1.01022759 -6.29956108 -0.03399783 0 0 Z " transform="translate(33.5556640625,8.757080078125)"/>
          <path fill="currentColor" d="M0 0 C1.00672867 -0.00763173 1.00672867 -0.00763173 2.0337953 -0.01541764 C4.2753308 -0.03107293 6.51683423 -0.03964851 8.75840759 -0.04811096 C10.36840008 -0.05765442 11.97839053 -0.0675458 13.58837891 -0.07775879 C18.86630337 -0.10906604 24.14424329 -0.12939149 29.42222595 -0.14796448 C30.32040314 -0.1512618 31.21858034 -0.15455912 32.14397502 -0.15795636 C40.61323964 -0.18871624 49.0825079 -0.21542116 57.55181217 -0.23237514 C68.38437533 -0.25431623 79.21644513 -0.29638423 90.04881102 -0.36581272 C97.66759226 -0.41299004 105.28623999 -0.43729964 112.90516275 -0.44457203 C117.4561286 -0.4495347 122.00653739 -0.46467511 126.55734444 -0.50431633 C130.8347357 -0.54108942 135.11124949 -0.54962365 139.38876915 -0.5363102 C140.95937226 -0.53636429 142.5300134 -0.54671915 144.1004715 -0.56806183 C146.24342293 -0.59563183 148.38314815 -0.58629215 150.52612305 -0.56762695 C152.32493974 -0.57397486 152.32493974 -0.57397486 154.16009617 -0.58045101 C157.1995697 0.16062927 157.1995697 0.16062927 159.58541012 3.04208279 C161.23222809 6.22372508 161.93332457 7.67529364 161.1995697 11.16062927 C159.22058608 13.58847317 157.97391472 14.97864607 154.88519287 15.70454407 C154.00771896 15.72469574 153.13024506 15.74484741 152.22618103 15.76560974 C151.17798691 15.79728241 150.12979279 15.82895508 149.04983521 15.86158752 C147.8681929 15.87519318 146.6865506 15.88879883 145.46910095 15.90281677 C144.18284317 15.93132721 142.89658539 15.95983765 141.5713501 15.98921204 C136.78102141 16.08616 131.99070247 16.12612092 127.1995697 16.16062927 C125.74426472 16.17157372 125.74426472 16.17157372 124.25955963 16.18273926 C107.73232828 16.30007598 91.20545479 16.30252618 74.67790222 16.2875824 C69.62107779 16.284977 64.56427114 16.28979582 59.50744915 16.29457283 C54.55420627 16.29822586 49.60097308 16.29701861 44.64772987 16.29444504 C42.32108874 16.29378962 39.99444665 16.29455416 37.66780663 16.29692459 C25.55248756 16.30657278 13.4420974 16.20046771 1.33164978 15.83982849 C-0.25706798 15.80688281 -0.25706798 15.80688281 -1.87788105 15.77327156 C-2.85905494 15.73842596 -3.84022882 15.70358036 -4.85113525 15.66767883 C-5.71278888 15.64234007 -6.5744425 15.6170013 -7.46220684 15.5908947 C-10.282492 15.07192326 -11.70869338 14.09413114 -13.8004303 12.16062927 C-14.2613678 10.22312927 -14.2613678 10.22312927 -14.1754303 8.16062927 C-14.16253967 7.48000427 -14.14964905 6.79937927 -14.1363678 6.09812927 C-13.8004303 4.16062927 -13.8004303 4.16062927 -11.8004303 1.16062927 C-7.91699452 -0.03523762 -4.03952865 0.02313801 0 0 Z " transform="translate(28.800430297851563,177.83937072753906)"/>
          <path fill="currentColor" d="M0 0 C0.79234543 -0.01022186 1.58469086 -0.02044373 2.40104675 -0.03097534 C5.01775403 -0.05875409 7.63340703 -0.05685562 10.25024414 -0.05224609 C12.0710133 -0.06002074 13.89177884 -0.06869023 15.71253967 -0.07821655 C19.52820597 -0.09313791 23.34350216 -0.09256108 27.15917969 -0.08203125 C32.04673352 -0.07044045 36.93277183 -0.10430399 41.82007504 -0.1507206 C45.58025453 -0.18019898 49.34006913 -0.18193849 53.1003437 -0.17570114 C54.90207484 -0.17672739 56.70382645 -0.18719995 58.50544548 -0.20732498 C61.02676441 -0.23203322 63.54513378 -0.21849434 66.06640625 -0.1953125 C66.80890625 -0.21059998 67.55140625 -0.22588745 68.31640625 -0.24163818 C71.16403063 -0.18383041 73.42905152 0.01917483 75.70446968 1.82271194 C78.11607822 4.5428592 79.09790039 6.05879853 79.09790039 9.73681641 C77.59312028 13.96901048 77.59312028 13.96901048 75.09790039 15.54931641 C70.33829444 16.39835446 65.74125646 16.67951347 60.91259766 16.69458008 C59.89158463 16.699618 59.89158463 16.699618 58.84994507 16.70475769 C56.62137988 16.7141818 54.39289046 16.71620628 52.16430664 16.71728516 C50.60163849 16.72050303 49.03897064 16.72386749 47.4763031 16.72737122 C44.20912986 16.73334066 40.94198299 16.7352133 37.67480469 16.73461914 C33.5044722 16.73451749 29.33430986 16.74818205 25.16401768 16.76539135 C21.93909438 16.77655 18.71421178 16.77853718 15.48927116 16.77800941 C13.95240631 16.77918323 12.41554019 16.78357111 10.87869453 16.79134178 C-4.74695577 16.86297252 -4.74695577 16.86297252 -10.90209961 14.54931641 C-12.90209961 11.54931641 -12.90209961 11.54931641 -12.77709961 8.11181641 C-10.97805565 0.78713743 -6.94661933 -0.04622999 0 0 Z " transform="translate(133.902099609375,272.45068359375)"/>
          <path fill="currentColor" d="M0 0 C0.71125031 -0.00335861 1.42250061 -0.00671722 2.15530396 -0.01017761 C4.49694587 -0.0196444 6.83851595 -0.02162855 9.18017578 -0.02270508 C10.81535877 -0.02592058 12.45054148 -0.02928487 14.08572388 -0.03279114 C17.51028103 -0.03877168 20.93481299 -0.04063214 24.359375 -0.04003906 C28.73612487 -0.03993749 33.11271234 -0.05358942 37.48942375 -0.07081127 C40.8661472 -0.08195837 44.24283172 -0.08395744 47.61957169 -0.08342934 C49.23262212 -0.08460537 50.84567369 -0.08900594 52.4587059 -0.0967617 C54.71998047 -0.10661672 56.9809067 -0.10366208 59.2421875 -0.09765625 C60.52616425 -0.09908127 61.81014099 -0.10050629 63.13302612 -0.10197449 C66.96814953 0.16013989 70.1476945 0.80686761 73.75048828 2.14526367 C75.75048828 5.14526367 75.75048828 5.14526367 75.56298828 8.64526367 C74.75048828 12.14526367 74.75048828 12.14526367 73.62548828 14.02026367 C69.01816635 16.78465683 62.77419611 16.27426458 57.54931641 16.29052734 C56.86703476 16.29388596 56.18475311 16.29724457 55.48179626 16.30070496 C53.2484246 16.310128 51.01512853 16.31215338 48.78173828 16.31323242 C47.2166745 16.31644999 45.65161102 16.31981443 44.08654785 16.32331848 C40.81517845 16.32928737 37.54383539 16.33116059 34.27246094 16.33056641 C30.09306214 16.33046468 25.9138328 16.34413818 21.73447418 16.36133862 C18.50530225 16.37248593 15.27617101 16.37448481 12.04698181 16.37395668 C10.50649937 16.37513185 8.96601571 16.3795275 7.42555237 16.38728905 C5.26746894 16.39714861 3.10975017 16.39418815 0.95166016 16.38818359 C-0.88531433 16.39032112 -0.88531433 16.39032112 -2.75939941 16.39250183 C-6.53960514 16.12471357 -9.69478033 15.45782114 -13.24951172 14.14526367 C-15.71275241 10.45040264 -15.6394286 8.51233276 -15.24951172 4.14526367 C-13.75312778 1.78255219 -12.77991942 1.28306777 -10.08932495 0.58403015 C-6.69265548 0.05922638 -3.43804165 0.01021933 0 0 Z " transform="translate(106.24951171875,303.854736328125)"/>
          <path fill="currentColor" d="M0 0 C0.75318512 -0.0049649 1.50637024 -0.00992981 2.28237915 -0.01504517 C4.77436232 -0.0296517 7.26628184 -0.03646605 9.75830078 -0.04199219 C11.49081423 -0.04774462 13.22332765 -0.05350234 14.95584106 -0.05926514 C18.58905331 -0.06977065 22.22224345 -0.07561634 25.85546875 -0.07910156 C30.50830107 -0.0845872 35.16084089 -0.1086185 39.81358147 -0.13707352 C43.39267834 -0.15570707 46.97170482 -0.16090586 50.5508461 -0.16243744 C52.26603928 -0.16546257 53.98123126 -0.17348643 55.6963768 -0.18662262 C58.09728953 -0.20369934 60.49748849 -0.20179922 62.8984375 -0.1953125 C63.60510559 -0.20452728 64.31177368 -0.21374207 65.03985596 -0.22323608 C69.78780907 -0.18310191 73.16604092 0.74856045 76.57861328 4.16113281 C76.78173828 6.15722656 76.78173828 6.15722656 76.82861328 8.59863281 C76.85439453 9.40171875 76.88017578 10.20480469 76.90673828 11.03222656 C76.79845703 11.73476563 76.69017578 12.43730469 76.57861328 13.16113281 C68.54419057 18.51741462 54.73110158 16.30995375 45.33642578 16.29394531 C43.91445906 16.29462128 42.49249245 16.29559372 41.07052612 16.29684448 C38.11748128 16.29830483 35.16446703 16.2962192 32.21142578 16.29150391 C28.44253195 16.28577595 24.67370889 16.28911547 20.90481758 16.29507637 C17.97933423 16.29870039 15.05386751 16.29753548 12.12838364 16.29494858 C10.73862576 16.29428603 9.34886632 16.29508397 7.95911026 16.29742813 C6.01733685 16.2999886 4.07555807 16.29538949 2.13378906 16.29052734 C0.48384445 16.28933395 0.48384445 16.28933395 -1.19943237 16.28811646 C-10.66756089 15.91495864 -10.66756089 15.91495864 -13.42138672 13.16113281 C-13.72216797 11.10253906 -13.72216797 11.10253906 -13.73388672 8.72363281 C-13.75064453 7.94117188 -13.76740234 7.15871094 -13.78466797 6.35253906 C-13.33530716 3.64187873 -12.57962185 2.81392646 -10.42138672 1.16113281 C-6.88480725 -0.01772701 -3.68037543 0.00578872 0 0 Z " transform="translate(28.42138671875,272.8388671875)"/>
          <path fill="currentColor" d="M0 0 C1.71725784 -0.01441132 1.71725784 -0.01441132 3.46920776 -0.02911377 C4.70671783 -0.03336365 5.94422791 -0.03761353 7.21923828 -0.04199219 C8.49050568 -0.04769226 9.76177307 -0.05339233 11.07156372 -0.05926514 C13.76324036 -0.06871852 16.45480541 -0.07561375 19.14648438 -0.07910156 C22.58867877 -0.08458438 26.03047723 -0.10861218 29.47254753 -0.13707352 C32.76308101 -0.16022182 36.05363477 -0.16215088 39.34423828 -0.16699219 C41.19443069 -0.18551239 41.19443069 -0.18551239 43.08200073 -0.20440674 C44.23314362 -0.20140564 45.3842865 -0.19840454 46.5703125 -0.1953125 C48.08563065 -0.20078094 48.08563065 -0.20078094 49.63156128 -0.20635986 C53.17849504 0.26201135 55.86784269 1.61442472 58.41455078 4.16113281 C58.76563054 7.88257826 58.9416176 10.29032676 56.97705078 13.53613281 C50.6632687 17.53999462 40.8353401 16.33488716 33.55517578 16.36425781 C32.44777039 16.36995789 31.34036499 16.37565796 30.19940186 16.38153076 C27.87317852 16.39092608 25.54694221 16.39749281 23.22070312 16.40136719 C19.66138942 16.41114149 16.10263727 16.44224415 12.54345703 16.47363281 C10.27653335 16.48015743 8.00960558 16.48541002 5.74267578 16.48925781 C4.68115295 16.50160461 3.61963013 16.51395142 2.52593994 16.52667236 C-3.189631 16.50937461 -7.32781455 16.41876748 -11.58544922 12.16113281 C-12.05669747 4.85678499 -12.05669747 4.85678499 -10.27294922 2.22363281 C-6.87788477 0.08599964 -3.90186978 0.02641426 0 0 Z " transform="translate(166.58544921875,242.8388671875)"/>
          <path fill="currentColor" d="M0 0 C2.57126869 0.00532304 5.14235992 0.00004913 7.71362305 -0.00634766 C12.61257309 -0.01047329 17.50882309 0.04706253 22.40698242 0.13037109 C23.53453949 0.14227478 23.53453949 0.14227478 24.68487549 0.15441895 C26.77765423 0.18453254 28.86624105 0.24891717 30.95776367 0.32568359 C32.72567261 0.37619873 32.72567261 0.37619873 34.52929688 0.42773438 C37.40698242 1.13037109 37.40698242 1.13037109 39.28271484 3.48925781 C40.64366822 6.68638997 40.91946704 8.68940296 40.40698242 12.13037109 C38.29950123 14.86330157 37.11338606 16.00045301 33.68177795 16.63157654 C32.63984787 16.63174271 31.59791779 16.63190887 30.52441406 16.63208008 C29.33960953 16.64146103 28.15480499 16.65084198 26.93409729 16.6605072 C25.65800095 16.64927322 24.3819046 16.63803925 23.06713867 16.62646484 C21.75289413 16.62792007 20.4386496 16.62937531 19.08457947 16.63087463 C16.30455469 16.63225783 13.52504632 16.61971682 10.74511719 16.59692383 C7.18963818 16.56856619 3.63501868 16.57126959 0.07947636 16.58401394 C-3.32055877 16.59266128 -6.72034067 16.57751593 -10.12036133 16.56396484 C-12.0314695 16.5683683 -12.0314695 16.5683683 -13.98118591 16.57286072 C-15.16914261 16.56017654 -16.3570993 16.54749237 -17.58105469 16.53442383 C-18.62378036 16.52902084 -19.66650604 16.52361786 -20.74082947 16.51805115 C-24.31986144 16.03157576 -27.0204265 14.70296217 -29.59301758 12.13037109 C-30.0604728 5.93658941 -30.0604728 5.93658941 -28.32666016 2.94628906 C-22.95688635 -2.67832403 -7.44391178 -0.01829144 0 0 Z " transform="translate(40.593017578125,209.86962890625)"/>
          <path fill="currentColor" d="M0 0 C0.78243073 -0.00095673 1.56486145 -0.00191345 2.3710022 -0.00289917 C4.01296062 -0.00357429 5.65492183 -0.00176707 7.296875 0.00244141 C9.77610432 0.00778457 12.25515131 0.00248097 14.734375 -0.00390625 C37.91410063 -0.0196024 37.91410063 -0.0196024 41.14208984 2.46044922 C43.23329356 5.20992052 43.29533962 7.74921036 43.4140625 11.1328125 C41.7212733 14.34911197 40.90226118 14.97007961 37.4140625 16.1328125 C35.70204609 16.23039353 33.98650899 16.27099305 32.27172852 16.27807617 C31.22376602 16.28445602 30.17580353 16.29083588 29.09608459 16.29740906 C27.39916725 16.29907829 27.39916725 16.29907829 25.66796875 16.30078125 C24.50530991 16.30410965 23.34265106 16.30743805 22.14476013 16.31086731 C19.68432003 16.31593306 17.22387305 16.31827574 14.76342773 16.31811523 C10.99516511 16.32030171 7.22719518 16.33846139 3.45898438 16.35742188 C1.0703135 16.36035583 -1.31835876 16.36234061 -3.70703125 16.36328125 C-4.83628525 16.37046677 -5.96553925 16.37765228 -7.12901306 16.38505554 C-8.70568504 16.3804406 -8.70568504 16.3804406 -10.31420898 16.37573242 C-11.23781723 16.37715744 -12.16142548 16.37858246 -13.11302185 16.38005066 C-15.75064316 16.11634549 -17.36215543 15.55691412 -19.5859375 14.1328125 C-21.14368686 11.01731378 -21.15074372 7.5283737 -20.5859375 4.1328125 C-19.03313295 2.18627356 -18.05855143 1.25508528 -15.62606812 0.62576294 C-14.5415184 0.54054886 -14.5415184 0.54054886 -13.43505859 0.45361328 C-12.2377713 0.35720551 -12.2377713 0.35720551 -11.01629639 0.2588501 C-7.340714 0.06823563 -3.68029023 -0.01022798 0 0 Z " transform="translate(125.5859375,209.8671875)"/>
          <path fill="currentColor" d="M0 0 C0.84122406 -0.00637985 1.68244812 -0.0127597 2.54916382 -0.01933289 C3.45026886 -0.02044571 4.3513739 -0.02155853 5.27978516 -0.02270508 C6.68159531 -0.02769768 6.68159531 -0.02769768 8.11172485 -0.03279114 C10.08701079 -0.03784911 12.06230525 -0.04019981 14.03759766 -0.04003906 C17.05076264 -0.04222322 20.06356003 -0.06038455 23.07666016 -0.0793457 C24.99853391 -0.08228037 26.92040939 -0.08426467 28.84228516 -0.08520508 C29.73934174 -0.09239059 30.63639832 -0.09957611 31.56063843 -0.10697937 C42.48124774 -0.06733625 42.48124774 -0.06733625 45.69384766 3.14526367 C45.89697266 5.10620117 45.89697266 5.10620117 45.94384766 7.52026367 C45.96962891 8.31174805 45.99541016 9.10323242 46.02197266 9.91870117 C45.69384766 12.14526367 45.69384766 12.14526367 44.49072266 13.87182617 C39.96551773 17.07881923 33.72956546 16.30631483 28.41259766 16.31323242 C27.52149292 16.31656082 26.63038818 16.31988922 25.71228027 16.32331848 C23.83293167 16.32836883 21.95357414 16.33072739 20.07421875 16.33056641 C17.20378869 16.33275609 14.33374121 16.35094056 11.46337891 16.36987305 C9.63395313 16.37280674 7.80452554 16.3747917 5.97509766 16.37573242 C5.1197644 16.38291794 4.26443115 16.39010345 3.38317871 16.39750671 C-0.92784415 16.38101679 -4.43522046 16.28122166 -8.30615234 14.14526367 C-10.24365234 11.89526367 -10.24365234 11.89526367 -11.30615234 9.14526367 C-10.61498934 6.2078209 -9.6490527 3.83106438 -8.30615234 1.14526367 C-5.52325767 0.18949456 -2.92579071 0.01513416 0 0 Z " transform="translate(24.30615234375,303.854736328125)"/>
          <path fill="currentColor" d="M0 0 C1.02806763 0.00091644 2.05613525 0.00183289 3.11535645 0.0027771 C5.28740052 0.00881491 7.4594362 0.02456619 9.63134766 0.04931641 C12.95636674 0.08580162 16.28027047 0.09033586 19.60546875 0.08984375 C21.71615546 0.09967589 23.82683463 0.11133332 25.9375 0.125 C26.93237427 0.12722565 27.92724854 0.12945129 28.95227051 0.13174438 C30.34391418 0.15088394 30.34391418 0.15088394 31.76367188 0.17041016 C32.9846759 0.18184555 32.9846759 0.18184555 34.23034668 0.19351196 C36.7269757 0.49178813 38.34323746 1.13060316 40.46875 2.4609375 C42.02335305 5.57014359 42.19595693 9.09176778 41.46875 12.4609375 C38.56646723 15.14358765 36.60370665 15.84107756 32.68774414 15.88085938 C31.27091087 15.90472717 31.27091087 15.90472717 29.82545471 15.92907715 C28.81184372 15.92927856 27.79823273 15.92947998 26.75390625 15.9296875 C25.18206825 15.94110779 25.18206825 15.94110779 23.57847595 15.95275879 C21.36362082 15.96355819 19.14871478 15.96641356 16.93383789 15.96191406 C13.54682414 15.96094197 10.16207716 16.00256275 6.77539062 16.046875 C4.62240056 16.05208221 2.46940262 16.05477019 0.31640625 16.0546875 C-0.69518051 16.07108276 -1.70676727 16.08747803 -2.74900818 16.10437012 C-7.49859711 16.05773451 -9.79509915 16.00496776 -13.70532227 13.11523438 C-15.53125 10.4609375 -15.53125 10.4609375 -15.59375 7.3984375 C-12.69905634 -0.6045391 -7.5429673 -0.10895872 0 0 Z " transform="translate(88.53125,241.5390625)"/>
          <path fill="currentColor" d="M0 0 C1.02287109 -0.01836914 1.02287109 -0.01836914 2.06640625 -0.03710938 C6.72262666 -0.05041286 10.69892882 0.57902802 15.125 2.1875 C17.42144193 4.84276098 18.14816817 6.23760521 18.0625 9.75 C16.90105667 12.76975267 15.62325786 14.13604595 13.125 16.1875 C10.53125 16.67333984 10.53125 16.67333984 7.625 16.6484375 C6.573125 16.64457031 5.52125 16.64070313 4.4375 16.63671875 C2.7978125 16.59998047 2.7978125 16.59998047 1.125 16.5625 C0.031875 16.56121094 -1.06125 16.55992187 -2.1875 16.55859375 C-11.40966152 16.45687873 -11.40966152 16.45687873 -14.875 14.1875 C-16.875 11.1875 -16.875 11.1875 -16.6875 7.6875 C-15.58264618 2.92812969 -15.58264618 2.92812969 -12.875 1.1875 C-8.61095026 0.06248319 -4.38177329 0.00409512 0 0 Z " transform="translate(198.875,209.8125)"/>
          <path fill="currentColor" d="M0 0 C0.98935547 -0.00708984 1.97871094 -0.01417969 2.99804688 -0.02148438 C12.12675236 0.05832273 12.12675236 0.05832273 16.0625 3.4375 C18.0625 6.4375 18.0625 6.4375 17.9375 8.875 C16.85835001 12.03536782 15.6421912 13.3291197 13.0625 15.4375 C10.46875 15.93920898 10.46875 15.93920898 7.5625 15.93359375 C6.510625 15.93423828 5.45875 15.93488281 4.375 15.93554688 C3.281875 15.91556641 2.18875 15.89558594 1.0625 15.875 C-0.030625 15.88208984 -1.12375 15.88917969 -2.25 15.89648438 C-10.22359018 15.83296926 -10.22359018 15.83296926 -13.25 14.15649414 C-15.55407105 11.80942176 -15.41959721 9.66144365 -15.46875 6.47265625 C-13.46443215 -1.20564965 -6.49295458 -0.13061752 0 0 Z " transform="translate(29.9375,241.5625)"/>
        </svg>
          </a>
        </p>
      </div>
      <div class="flex space-x-6">
        <a href="https://aujo.link/spotify" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">Spotify</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/>
          </svg>
        </a>
        <a href="https://aujo.link/apple" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">Apple Music</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M23.997 6.124c0-.738-.065-1.47-.24-2.19-.317-1.31-1.062-2.31-2.18-3.043C21.003.517 20.373.285 19.7.164c-.517-.093-1.038-.135-1.564-.15-.04-.003-.083-.01-.124-.013H5.988c-.152.01-.303.017-.455.026C4.786.07 4.043.15 3.34.428 2.004.958 1.04 1.88.475 3.208c-.192.448-.292.925-.363 1.408-.056.392-.088.785-.1 1.18 0 .032-.007.062-.01.093v12.223c.01.14.017.283.027.424.05.815.154 1.624.497 2.373.65 1.42 1.738 2.353 3.234 2.802.42.127.856.187 1.293.228.555.053 1.11.06 1.667.06h11.03c.525 0 1.048-.034 1.57-.1.823-.106 1.597-.35 2.296-.81.84-.553 1.472-1.287 1.88-2.208.186-.42.293-.87.37-1.324.113-.675.138-1.358.137-2.04-.002-3.8 0-7.595-.003-11.393zm-6.423 3.99v5.712c0 .417-.058.827-.244 1.206-.29.59-.76.962-1.388 1.14-.35.1-.706.157-1.07.173-.95.045-1.773-.6-1.943-1.536-.142-.773.227-1.624 1.038-2.022.323-.16.67-.25 1.018-.324.378-.082.758-.153 1.134-.24.274-.063.457-.23.51-.516.014-.063.02-.13.02-.193 0-1.815 0-3.63-.002-5.443 0-.062-.01-.125-.026-.185-.04-.15-.15-.243-.304-.234-.16.01-.318.035-.475.066-.76.15-1.52.303-2.28.456l-2.326.47-1.374.278c-.016.003-.032.01-.048.013-.277.077-.377.203-.39.49-.002.042 0 .086 0 .13-.002 2.602 0 5.204-.003 7.805 0 .42-.047.836-.215 1.227-.278.64-.77 1.04-1.434 1.233-.35.1-.71.16-1.075.172-.96.036-1.755-.6-1.92-1.544-.14-.812.23-1.685 1.154-2.075.357-.15.73-.232 1.108-.31.287-.06.575-.116.86-.177.383-.083.583-.323.6-.714v-.15c0-2.96 0-5.922.002-8.882 0-.123.013-.25.042-.37.07-.285.273-.448.546-.518.255-.066.515-.112.774-.165.733-.15 1.466-.296 2.2-.444l2.27-.46c.67-.134 1.34-.27 2.01-.403.22-.043.443-.088.664-.106.31-.025.523.17.554.482.008.073.012.148.012.223.002 1.91.002 3.822 0 5.732z"/>
          </svg>
        </a>
        <a href="https://aujo.link/youtube" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">YouTube</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
          </svg>
        </a>
        <a href="https://aujo.link/tiktok" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">TikTok</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"/>
          </svg>
        </a>
        <a href="https://aujo.link/facebook" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">Facebook</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="https://aujo.link/instagram" class="text-neutral-600 hover:text-primary-600 transition-colors duration-300">
          <span class="sr-only">Instagram</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .credits-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 29px;
    color: currentColor;
    transition: opacity 0.15s;
    flex-shrink: 0;
  }
  .credits-link:hover {
    opacity: 0.8;
  }
  .credits-link span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    transition: opacity 0.15s;
  }
  .credits-link:hover span {
    opacity: 0;
  }
  .credits-link svg {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.15s;
  }
  .credits-link:hover svg {
    opacity: 1;
  }
</style>

<script>
  function randomHsl() {
    const h = Math.round(Math.random() * 360);
    return `hsl(${h}, 80%, 65%)`;
  }

  function generateStripedClipPaths(count, width, height, avgHeight = 3) {
    const masks = Array.from({ length: count }, () => []);
    let maskIdx = 0, x = 0, y = 0, stripeH = avgHeight;
    while (true) {
      const w = Math.max(stripeH * 10, Math.round(Math.random() * width));
      masks[maskIdx].push(`M ${x},${y} L ${x + w},${y} L ${x + w},${y + stripeH} L ${x},${y + stripeH} Z`);
      maskIdx = (maskIdx + 1) % masks.length;
      x += w;
      if (x > width) { x = 0; y += stripeH; stripeH = Math.round(Math.random() * avgHeight + avgHeight / 2); }
      if (y >= height) break;
    }
    return masks;
  }

  document.addEventListener('DOMContentLoaded', () => {
    const link = document.querySelector('.credits-link');
    if (!link) return;

    const SVG_W = 231, SVG_H = 329;
    const paths = link.querySelectorAll('path');
    const transforms = [...paths].map(p => p.getAttribute('transform'));
    const pathData = [...paths].map(p => p.getAttribute('d'));

    let clipIdCounter = 0, isHovering = false, animating = false;
    let hoverTimer = null, touchTimer = null;

    function createSvgLayer(clipId, color, offsetX) {
      const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
      svg.setAttribute('width', '20'); svg.setAttribute('height', '29');
      svg.setAttribute('viewBox', '0 0 231 329');
      svg.setAttribute('aria-hidden', 'true');
      svg.style.cssText = `position:absolute;inset:0;clip-path:url(#${clipId});transform:translateX(${offsetX}px);transition:transform 0.05s ease-out;`;
      pathData.forEach((d, i) => {
        const p = document.createElementNS('http://www.w3.org/2000/svg', 'path');
        p.setAttribute('fill', color); p.setAttribute('d', d);
        p.setAttribute('transform', transforms[i]); svg.appendChild(p);
      });
      return svg;
    }

    function runGlitch(onComplete) {
      if (animating) return;
      animating = true;
      const masks = generateStripedClipPaths(3, SVG_W, SVG_H, 3);
      const clipDefs = [], layers = [];
      const svgDefs = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
      svgDefs.style.cssText = 'position:absolute;width:0;height:0;pointer-events:none;';
      const defs = document.createElementNS('http://www.w3.org/2000/svg', 'defs');
      masks.forEach((rects) => {
        const id = `gc-${clipIdCounter++}`;
        const clip = document.createElementNS('http://www.w3.org/2000/svg', 'clipPath');
        clip.setAttribute('id', id);
        const p = document.createElementNS('http://www.w3.org/2000/svg', 'path');
        p.setAttribute('d', rects.join(' ')); p.setAttribute('fill', 'white');
        clip.appendChild(p); defs.appendChild(clip); clipDefs.push(id);
      });
      svgDefs.appendChild(defs); link.appendChild(svgDefs);
      clipDefs.forEach((id) => {
        const layer = createSvgLayer(id, randomHsl(), Math.random() * 10 - 5);
        link.appendChild(layer); layers.push(layer);
      });
      setTimeout(() => layers.forEach(l => { l.style.transform = 'translateX(0px)'; }), 50);
      setTimeout(() => layers.forEach(l => { l.style.transform = `translateX(${Math.random() * 5 - 2.5}px)`; }), 100);
      setTimeout(() => {
        layers.forEach(l => l.remove()); svgDefs.remove(); animating = false;
        if (onComplete) onComplete();
      }, 150);
    }

    // Desktop : hover → boucle
    function triggerHoverLoop() {
      if (!isHovering) return;
      runGlitch(() => {
        hoverTimer = setTimeout(() => {
          if (isHovering) triggerHoverLoop();
        }, Math.random() * 850);
      });
    }

    link.addEventListener('mouseenter', () => {
      isHovering = true;
      triggerHoverLoop();
    });

    link.addEventListener('mouseleave', () => {
      isHovering = false;
      if (hoverTimer) clearTimeout(hoverTimer);
      link.querySelectorAll('svg[style*="clip-path"]').forEach(el => el.remove());
      link.querySelectorAll('svg[style*="width:0"]').forEach(el => el.remove());
    });

    // Mobile : touch → effet unique
    link.addEventListener('touchstart', (e) => {
      if (touchTimer) clearTimeout(touchTimer);
      link.querySelectorAll('svg[style*="clip-path"]').forEach(el => el.remove());
      link.querySelectorAll('svg[style*="width:0"]').forEach(el => el.remove());
      runGlitch(() => {});
    });
  });
</script>
