---
import '@fontsource/inter/400.css';
import '@fontsource/inter/600.css';
import '@fontsource/archivo/400.css';
import '@fontsource/archivo/600.css';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  canonicalURL?: string;
  image?: string;
}

const { title, description, canonicalURL = Astro.url.href, image = '/placeholder-social.jpg' } = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, canonicalURL).href} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, canonicalURL).href} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />
  </head>
  <body class="bg-white text-neutral-900 font-inter">
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>